In [3]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from csv import reader
import csv
import random
from sklearn.model_selection import train_test_split
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [4]:
df1=pd.read_csv("C:/Users/zribi/GO MY CODE/data.csv")

In [5]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Title,FamilySize
0,343,0,2,"Collander, Mr. Erik Gustaf",1,28.0,0,0,248740,13.0000,S,Mrs,0
1,76,0,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.6500,S,Mrs,0
2,641,0,3,"Jensen, Mr. Hans Peder",1,20.0,0,0,350050,7.8542,S,Mrs,0
3,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",0,29.0,0,4,349909,21.0750,S,Mrs,4
4,672,0,1,"Davidson, Mr. Thornton",1,31.0,1,0,F.C. 12750,52.0000,S,Mrs,1

In [12]:
x=df1.drop(["Survived", "Name","Title", "Ticket", "Embarked"], axis=1)
y= df1["Survived"]

# Training set and Testing

In [13]:
#splitting data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)

# decision tree

In [8]:
#applying tree algorithm
dtree = tree.DecisionTreeClassifier()  
dtree.fit(x_train, y_train)   #fitting our model
y_pred=dtree.predict(x_test)   # evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.759776536313

# Plot

In [9]:
from sklearn.tree import plot_tree
plt.figure(figsize = (30,20))
plot_tree(dtree, filled = True, feature_names = x.columns, proportion = True)

ImportError: cannot import name plot_tree

In [ ]:
pip install --upgrade sklearn

In [ ]:
import graphviz

In [ ]:
dot_df1=tree.export_graphviz(dtree)
#graph=dot_df1.source
#graph.render("df1")
#graph
dot_df1

In [10]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Title,FamilySize
0,343,0,2,"Collander, Mr. Erik Gustaf",1,28.0,0,0,248740,13.0000,S,Mrs,0
1,76,0,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.6500,S,Mrs,0
2,641,0,3,"Jensen, Mr. Hans Peder",1,20.0,0,0,350050,7.8542,S,Mrs,0
3,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",0,29.0,0,4,349909,21.0750,S,Mrs,4
4,672,0,1,"Davidson, Mr. Thornton",1,31.0,1,0,F.C. 12750,52.0000,S,Mrs,1

In [17]:
x=df1.drop(["Survived", "Name","Title", "Ticket", "Embarked"], axis=1)
y= df1["Survived"]

In [18]:
#splitting data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)

# 1 parametre: max_depths

In [24]:
max_depths = np.linspace(1, 32, 32, endpoint=True)

for max_depth in max_depths:
    dtree = DecisionTreeClassifier(max_depth=max_depth)
    dtree.fit(x_train, y_train)   #fitting our model
    y_pred=dtree.predict(x_test)
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.731843575419

# 2 parametre: min_samples_splits

In [25]:
min_samples_splits = np.linspace(0.1, 1.0, 10, endpoint=True)
for min_samples_split in min_samples_splits:
    dtree = DecisionTreeClassifier(min_samples_split=min_samples_split)
    dtree.fit(x_train, y_train)   #fitting our model
    y_pred=dtree.predict(x_test)
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.776536312849

In [26]:
from sklearn.ensemble import RandomForestClassifier #Importing Random Forest Classifier
from sklearn import metrics

# random forest

In [27]:
clf=RandomForestClassifier(n_estimators=10)  #Creating a random forest with 100 decision trees
clf.fit(x_train, y_train)  #Training our model
y_pred=clf.predict(x_test)  #testing our model
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))  #Measuring the accuracy of our model

('Accuracy:', 0.8156424581005587)

In [34]:
clf1=RandomForestClassifier(n_estimators=86)  #Creating a random forest with 100 decision trees
clf1.fit(x_train, y_train)  #Training our model
y_pred=clf1.predict(x_test)  #testing our model
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))  #Measuring the accuracy of our model

('Accuracy:', 0.8435754189944135)